@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.cim {
  margin-top: 20px;
}

.sidebar h2 {
    cursor: pointer;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

.hypnotize {
  margin-top: 25px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.hypnotize:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.byob {
  margin-left: 30px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.byob:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.soadpolo {
  margin-left: 30px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.soadpolo:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.toxicitypolo {
  display: inline-block;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.toxicitypolo:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.toxicitypolo2 {
  display: inline-block;
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.toxicitypolo2:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.soadpulcsi {
  display: inline-block;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.soadpulcsi:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.soadhollywood {
  margin-left: 30px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.soadhollywood:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.albumpulcsi {
  margin-left: 30px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.albumpulcsi:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.zoldkapucni {
  display: inline-block;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.zoldkapucni:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.systemzip {
  margin-left: 30px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.systemzip:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.ccapulcsi {
  margin-left: 30px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.ccapulcsi:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.soadbomber {
  display: inline-block;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.soadbomber:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.stealthisalbum {
  display: inline-block;
  margin-top: 30px;
}

.toxicityalbum {
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
}

.mezmerizealbum {
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
}

.hypnotizealbum {
  display: inline-block;
  margin-top: 30px;
  margin-left: 30px;
}

.soadmug {
  display: inline-block;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.soadmug:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.soadsapka {
  margin-left: 30px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.soadsapka:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.albumsapka {
  margin-left: 30px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.albumsapka:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.vaszontaska {
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.vaszontaska:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.soadsal {
  margin-left: 30px;
  margin-top: 30px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
}

.soadsal:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.button-32 {
  background-color: #5050dd;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #5050dd;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.elsohir {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: inline-block;
  width: 27%;
  border-radius: 5px;
  margin-top: 30px;
}

.elsohir img {
  width: 300px;
  height: 160px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.elsohir {
  padding: 16px;
}

.elsohir:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.elsohircontainer h4 {
  margin: 0;
}

.masodikhir {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 27%;
  display: inline-block;
  margin-left: 30px;
  border-radius: 5px;
  margin-top: 30px;
}

.masodikhir img {
  width: 300px;
  height: 160px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.masodikhir {
  padding: 16px;
}

.masodikhir:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.masodikhircontainer h4 {
  margin: 0;
}

.harmadikhir {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 27%;
  display: inline-block;
  margin-left: 30px;
  border-radius: 5px;
  margin-top: 30px;
}

.harmadikhir img {
  width: 300px;
  height: 160px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.harmadikhir {
  padding: 16px;
}

.harmadikhir:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.harmadikhircontainer h4 {
  margin: 0;
}

.negyedikhir {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 27%;
  display: inline-block;
  border-radius: 5px;
  margin-top: 30px;
}

.negyedikhir img {
  width: 300px;
  height: 160px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.negyedikhir {
  padding: 16px;
}

.negyedikhir:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.negyedikhircontainer h4 {
  margin: 0;
}

.otodikhir {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 27%;
  display: inline-block;
  margin-left: 30px;
  border-radius: 5px;
  margin-top: 30px;
}

.otodikhir img {
  width: 300px;
  height: 160px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.otodikhir {
  padding: 16px;
}

.otodikhir:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.otodikhircontainer h4 {
  margin: 0;
}

.hatodikhir {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 27%;
  display: inline-block;
  margin-left: 30px;
  border-radius: 5px;
  margin-top: 30px;
}

.hatodikhir img {
  width: 300px;
  height: 160px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hatodikhir {
  padding: 16px;
}

.hatodikhir:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hatodikhircontainer h4 {
  margin: 0;
}

.gomb {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gomb:hover {
  background-color: #45a049;
}

.btn {
  width: 180px;
  height: 50px;
  background: linear-gradient(to top, #5050dd, #5050dd, #5050dd);
  color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(#5050dd);
  overflow: hidden;
}

.btn span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}
